*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}.container{
    width: 300px;
    height:300px;
    border: 10px solid red;
    background-image: url(./assets/WhatsApp\ Image\ 2026-03-28\ at\ 10.01.24\ PM.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

.scroll{
    height:100%;
    transform: translateX(100%);
    transition: all 1s linear 0s;
    padding: 10px;
   
    
   
}
.p{
    text-align: justify;
}
.container:hover>.scroll{
    transform: translateX(0PX);
}
.full{
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: lightblue;
}
.full:hover{
    background-color: azure;
    transform: scale(1.1);
}

.text{
    width: 300px;
    height:300px;
    border: 10px solid black;
    background-image:url(./assets/WhatsApp\ Image\ 2026-03-28\ at\ 10.01.49\ PM.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;

}
.para{
    height:100% ;
     transform: translateX(100%);
    transition: all 1s linear 0s;

}
.text:hover>.para{
    transform: translateX(0PX);
}
.full:hover{
    background-color: aqua;
    transform: scale(1.1);
}